<div class="container" #container>
  <div class="gallery-container">
    <div class="photo-thumbnail" *ngFor="let url of photos" #containerEl>
      <img [src]="url"
           (click)="onPhotoClick(url)"
           seTrans="gallery"
           [seContainer]="container" appLifecycleHook
           [seTime]="300"
           [seAutoRegister]="true"
           (afterViewInit)="applyCoverSize($event, containerEl)"
      >
    </div>
  </div>

  <div class="fullscreen-container" *ngIf="selectedPhoto" (click)="exitFullscreen()">
    <img [src]="selectedPhoto"
         seTrans="gallery"
         [seTime]="300"
         [seAutoRegister]="true"
         [seScrollContent]="container"
    >
  </div>
  <div class="fullscreen-backdrop" *ngIf="selectedPhoto" @backdropAnim></div>
</div>

